In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats
import math
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [2]:
data=pd.read_csv("BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
data1=data.drop(['Observed Values'],axis=1)

In [4]:
data1

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [5]:
males=data1.iloc[0]

In [6]:
males

East      50
West     142
North    131
South     70
Name: 0, dtype: int64

In [7]:
females=data1.iloc[1]

In [8]:
females

East      435
West     1523
North    1356
South     750
Name: 1, dtype: int64

In [9]:
males=np.array(males)
females=np.array(females)

In [10]:
observed_values = np.array([males,females])
observed_values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [14]:
value = chi2_contingency(observed_values)
value

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [12]:
p_value=chi2_contingency(observed_values)[1]
p_value

0.6603094907091882

In [13]:
if p_value<1:
    print("H0 is rejected and there is no Male and female buyers are similar across in region")
else:
    print("H0 is accepted and Male and female buyers are similar across in region")

H0 is rejected and there is no Male and female buyers are similar across in region